@{
    Layout = "_MyLayout";
}
@model Department

<h1>Details</h1>
<div class="container">
  
  <div class="card" style="width:400px">
   
    <div class="card-body">
      <h4 class="card-title">@Model.DeptName</h4>
      <p class="card-text">@Model.Id</p>
      <a href="/Department/Index" class="btn btn-primary">Back To List</a>
    </div>
  </div>

