<div style="margin:2px ; border:2px red solid ;display:flex">
	<ul>
		<li>Id : @Model.Id</li>
		<li>Name : @Model.Name</li>
		<li>Adress : @Model.Adress</li>
		<li>Gpa : @Model.Gpa</li>
		<a href="/Student/GetAll">back</a>
		
	</ul>
	<img src="/Images/@Model.Image" style="width:100px;height:100px"/>
</div>