
<div style="display:flex ; flax-wrap:wrap">

@foreach (Student item in Model)
{
	<div style="margin:2px ; border:2px red solid ;display:flex">
	<ul>
		<li>@item.Id</li>
		<li>@item.Name</li>
		<li>@item.Adress</li>
		<a href="/Student/GetOne/@item.Id">display</a>
		
	</ul>
	<img src="/Images/@item.Image" style="width:100px;height:100px"/>
	</div>
}
</div>



