@model Department

<h1>@Model.Name</h1>
<div class="container">
  
  <div class="card" style="width:400px">
   
    <div class="card-body">
      <h4 class="card-title">Name :@Model.Name</h4>
      <p class="card-text">Id :@Model.Id</p>
      <a href="/Department/GettAll" class="btn btn-primary">Back To Departments</a>
       <a href="/Trainee/GettAll" class="btn btn-primary">Back To Trainees</a>
    </div>
  </div>
