<div style="margin:2px ; border:2px red solid ;display:flex">
	<ul>
		<li>@Model.Id</li>
		<li>@Model.Name</li>
		<li>@Model.Price</li>
		<li>@Model.Quantity</li>	
	</ul>
	<img src="/Images/@Model.Image" style="width:100px;height:100px"/>
</div>